<% cache("date-#{params[:date]}") do %>
<center>
<div id="main" class="clear_fix">

	<div class="content">
		
		<div id="latest_label"> <span id="menu_return"><a href="/">Monster Wall</a></span> > Bites on <%= @date.strftime("%b.%e.%Y") %></div>
		
		<div class="today clear_fix">
			<div class="left_col left">
				<div class="date">
				  <div id="count"><%= @bites.count %></div>
				</div>
			</div>
		
			<div class="img_container">
			  <% @bites.each do |bite| %>
			    <% if bite.photo && bite.photo.data && bite.domain_name %>
			    <a href="<%= bite.photo.data.url(:medium) %>" rel="img_group" class="<%= bite.domain_name.gsub(/\./, '-') %>">
			      <img src="<%= bite.photo.data.url(:thumb) %>" />
			    </a>
			    <% end %>
			  <% end %>
			</div>
		</div>
	</div>
	
	<div class="ip_list clickable_list">
		<div class="title">Top 10 Sites</div>
		<%= render :partial => 'shared/top_sources', :locals => { :top_sources => @top_sources } %>
	</div>

</div>
	
</center>
<% end %>

<div id="menu">
	<span id="monster_wall"><a href="/">Monster Wall</a></span> /
	<span id="monster_about"><a href="/about">About</a></span>
</div>

<% content_for :foot do %>
<link rel="stylesheet" type="text/css" href="/javascripts/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<% end %>

<% content_for :foot do %>
<script type="text/javascript" src="/javascripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".img_container a[rel=img_group]").fancybox({
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'titlePosition' 	: 'over',
		});
		
		initIPList();
  });
</script>
<% end %>