

<!-- <div id="bitesTitle">Latest Bites</div> -->
<div id="biteCount">Total Bites: <%= Bite.count %></div>

<div class="biteContainer">
  <%= image_tag @bites.last.normalized_image_url %>
  <div>Bite at: <%= @bites.last.created_at.to_s(:long) %></div>
</div>




<div class="latestBites">
<% @bites.each do |bite| %>
<span class="bite">
  <span class=image><%= image_tag bite.normalized_image_url %></span>
  <!-- <span>from <%= link_to bite.url, bite.url %></span> -->
</span>
<% end %>
</div>