

<!-- <div id="bitesTitle">Latest Bites</div> -->


<!-- 
<% if @bites.first %>
<div class="biteContainer">
  <div class="latest_image"><%= image_tag @bites.first.normalized_image_url %></div>
  <div>Bite at: <%= @bites.first.created_at.strftime("%m/%d/%y %R") %></div>
</div> 
<% end %>
-->


<div>
	<span id="biteCount">
		<div style="background-color:#fff;font-size:3em;font-weight:bold;padding-top:6px;margin-bottom:7px;text-align:center;"><%= Bite.accessible.count %></div>#Bites</span>
	
<% @bites.each do |bite| %>
<span class="biteContainer">
  <div class=latest_image><%= image_tag bite.normalized_image_url %></div>
	<div class="bite_time">bite@ <%= bite.created_at.strftime("%m/%d/%y %R") %></div>
  <!-- <span>from <%= link_to bite.url, bite.url %></span> -->
</span>
<% end %>
</div>