<!DOCTYPE html>
<html>
<head>
  <title>Monster</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container" class="no_js"> 
    <div id="flash_msgs"> 
      <% flash.each do |name, msg| %>  
        <%= content_tag :div, msg, :id => "flash_#{name}" %>  
      <% end %>
    </div>
    
    <div id="header_wrap">
      <div id="header" class="clear_fix">
        <div id="logo"><%= link_to "PixelMonster".html_safe, root_path %></div>
      </div> <!-- END header -->
    </div>
    
    <div id="main_wrap">
      <div id="main" class="clear_fix">
        <%= yield %> 
      </div>
    </div>
    
    <div id="footer_wrap">
      <div id="footer">
      </div>
    </div>
  </div>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20216223-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
